@media (max-width: 991px) {
  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 14px;
  }

  h4 {
    margin-bottom: 8px;
  }

  h5 {
    margin-bottom: 8px;
  }

  h6 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 16px;
  }

  .container {
    flex-wrap: wrap;
  }

  .container.flexh-justify-center.md-flexh-justify-left {
    justify-content: flex-start;
  }

  .col {
    margin-bottom: 24px;
  }

  .col.lg-12.no-margin-bottom.md-no-padding-left-right {
    padding-right: 0px;
    padding-left: 0px;
  }

  .col.lg-6.md-12 {
    flex-basis: 100%;
  }

  .col.lg-6.md-12.order-first {
    order: -1;
  }

  .col.lg-6.md-12.margin-top.max-width-600px {
    flex-basis: 100%;
  }

  .col.lg-6.md-12.position-relative.no-padding-left.md-no-padding-right {
    padding-right: 0px;
  }

  .col.lg-6.md-12.md-margin-bottom-double {
    margin-bottom: 48px;
  }

  .col.lg-6.md-12.md-padding-lr-large {
    padding-right: 48px;
    padding-left: 48px;
  }

  .col.lg-6.no-margin-bottom.md-12.md-order-last {
    order: 1;
  }

  .col.lg-6.minheight-lg.flexv-justify-end.md-12 {
    height: auto;
  }

  .col.lg-3.md-12 {
    flex-basis: 100%;
  }

  .col.lg-3.shift-down-double.md-6 {
    flex-basis: 50%;
  }

  .col.lg-3.md-6 {
    flex-basis: 50%;
  }

  .col.lg-3.md-6.md-margin-bottom-quad {
    margin-bottom: 48px;
  }

  .col.lg-3.md-4 {
    flex-basis: 33.33%;
  }

  .col.lg-4.md-12 {
    flex-basis: 100%;
  }

  .col.lg-4.md-12.md-order-last {
    order: 1;
  }

  .col.lg-4.order-first.no-padding-left.no-margin-bottom.flex-horizontal.position-absolute-md {
    position: absolute;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right {
    padding-right: 24px;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.grow {
    flex: 0 59%;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.hidden-xs.test {
    padding-right: 0px;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-center.col-logo {
    justify-content: flex-start;
  }

  .col.lg-4.no-margin-bottom.order-first.no-padding-left.col-logo.xs-12.md-grow {
    flex: 1;
  }

  .col.lg-4.no-margin-bottom.no-padding-lr.hidden-only-lg.w70.collapse-md {
    flex: 0 auto;
  }

  .col.lg-4.no-margin-bottom.position-absolute-md {
    position: absolute;
  }

  .col.lg-4.no-margin-bottom.md-basis-auto {
    flex-basis: auto;
  }

  .col.lg-4.is-sticky {
    position: static;
  }

  .col.lg-4.md-6 {
    flex-basis: 50%;
  }

  .col.lg-1-5.md-6 {
    flex-basis: 50%;
  }

  .col.lg-1-5.md-4 {
    flex-basis: 33.33%;
  }

  .col.lg-1-5.md-12 {
    flex-basis: 100%;
  }

  .col.lg-1-5.md-12.md-margin-bottom-quad {
    margin-bottom: 48px;
  }

  .col.lg-2.md-4 {
    flex-basis: 33.33%;
  }

  .col.lg-2.md-12 {
    flex: 0 100%;
  }

  .col.lg-2.md-12.md-order-first {
    order: -1;
  }

  .col.lg-2.no-margin-bottom.no-padding-left.md-4.order-first {
    order: -1;
  }

  .col.lg-2.md-basis-auto {
    flex-basis: auto;
  }

  .col.lg-10.md-12 {
    flex-basis: 100%;
  }

  .col.lg-9.md-12 {
    flex-basis: 100%;
  }

  .col.lg-9.md-12.md-margin-bottom-double {
    margin-bottom: 48px;
  }

  .col.lg-9.md--8 {
    flex-basis: 66.66%;
  }

  .col.lg-8.md-12 {
    flex-basis: 100%;
  }

  .col.lg-7.md-12 {
    flex-basis: 100%;
  }

  .col.lg-5.md-12 {
    flex-basis: 100%;
  }

  .col.lg-5.md-12.order-first {
    order: -1;
  }

  .col.lg-5.md-12.md-order-first {
    order: -1;
  }

  .col.lg-1 {
    flex-basis: 7%;
  }

  .col.lg-1.md-12 {
    flex-basis: 100%;
  }

  .col.no-margin-bottom.lg-5.md-basis-uato {
    flex-basis: auto;
  }

  .col.no-margin-bottom.lg-4.brand-column {
    margin-bottom: 24px;
    order: -1;
    flex-basis: auto;
  }

  .col.no-margin-bottom.lg-2.md-order-first.md-basis-auto {
    flex-basis: auto;
  }

  .col.no-margin-bottom.lg-2.lg-text-align-right.md-basis-auto {
    flex: 0 auto;
  }

  .col.no-margin-bottom.lg-8.md-basis-auto {
    flex-basis: auto;
  }

  .col.flex-horizontal.no-margin-bottom.lg-5.md-10 {
    flex-basis: 83.33%;
  }

  .col.flex-horizontal.no-margin-bottom.lg-5.md-10.md-padding-bottom {
    padding-bottom: 24px;
  }

  .col.md-order-first {
    order: -1;
  }

  .heading-alpha {
    font-size: 52px;
  }

  .heading-beta {
    font-size: 52px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .section.no-padding-bottom.no-padding-top {
    padding-top: 0px;
  }

  .section._100vh.align-center {
    align-items: flex-start;
  }

  .section.position-relative.has-top-divider {
    padding-top: 160px;
  }

  .section.no-padding-top-bottom {
    padding-bottom: 0px;
  }

  .section.is-hero.position-relative.bg-hero2.overflow-hidden.md-sm-xs-no-padding-bottom {
    padding-bottom: 0px;
  }

  .section.has-bg-accent.no-padding-bottom {
    padding-bottom: 0px;
  }

  .margin-bottom {
    margin-bottom: 16px;
  }

  .margin-left.prev {
    margin-left: 8px;
  }

  .margin-bottom-double {
    margin-bottom: 32px;
  }

  .flexh-space-between.md-flex-vertical {
    flex-direction: column;
  }

  .button-primary.animated.is-small.alignself-center.is-dark.md-margin-top-small {
    margin-top: 16px;
  }

  .nav-menu {
    background-color: #1d2b36;
    text-align: left;
  }

  .flexh-align-center.flexh-justify-center.margin-bottom-double.md-wrap {
    flex-wrap: wrap;
  }

  .brand {
    justify-content: flex-start;
  }

  .brand.margin-left-right-24px {
    margin-left: 0px;
  }

  .no-padding-left.nav-link {
    padding-left: 20px;
  }

  .fa.is-64px {
    display: inline-block;
  }

  .bg-divider {
    transform: translate(71px, 0px);
  }

  .block-centered.img {
    width: 100%;
  }

  .margin-bottom-quad {
    margin-bottom: 48px;
  }

  .flexh-justify-end.md-flexh-justify-start {
    justify-content: flex-start;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav-link.w--current {
    border-bottom-style: none;
  }

  .nav-link.on-dark.flex-horizontal {
    display: flex;
  }

  .nav-link.lg-no-margin-right {
    margin-right: 24px;
  }

  .nav-link.lg-no-margin-left {
    margin-left: 24px;
  }

  .footer-nav-link.text-align-right.md-text-align-left {
    text-align: left;
  }

  .text-align-right.md-text-align-left {
    text-align: left;
  }

  .text-align-right.margin-right.next {
    margin-right: 8px;
  }

  .margin-bottom-small {
    margin-bottom: 4px;
  }

  .margin-bottom-small.max-width-300px {
    max-width: 200px;
  }

  .menu-button.w--open {
    background-color: #1d2b36;
  }

  .nav-dropdown {
    margin-right: 0px;
    margin-left: 0px;
  }

  .dropdown-link {
    white-space: pre-wrap;
  }

  .hidden-md {
    display: none;
  }

  .hidden-only-lg {
    display: block;
  }

  .offcanvas-menu-list {
    z-index: 9999;
  }

  .md-order-last {
    order: 1;
  }

  .max-width-200px {
    max-width: 200px;
  }

  .c-team1__info {
    justify-content: flex-start;
    flex-basis: 120px;
  }

  .c-team1__name {
    position: static;
  }

  .c-team1__social {
    justify-content: flex-start;
  }

  .shift-down-double {
    position: static;
    margin-top: 0px;
  }

  .c-team3__image {
    position: static;
    transform: none;
  }

  .divider-top__triangle {
    display: none;
  }

  .divider-bottom__triangle {
    display: none;
  }

  .c-team4 {
    padding-top: 80px;
    padding-bottom: 48px;
  }

  .c-team4.bg-accent.is-first {
    padding-top: 80px;
  }

  .quote.style2.c-testimonial3__quote {
    padding-right: 0px;
    padding-left: 0px;
  }

  .quote.style3 {
    padding-left: 0px;
  }

  .c-testimonial3__tab-link {
    padding-right: 0px;
    padding-left: 0px;
  }

  .c-testimonial3__info {
    flex-direction: column;
    align-items: center;
  }

  .c-testimonial4__info.md-margin-bottom-small {
    flex-direction: column;
    align-items: flex-start;
  }

  .c-testimonial3 {
    flex-direction: column;
  }

  .c-testimonial3__tab {
    flex: 0 30%;
  }

  .md-margin-bottom-small {
    margin-bottom: 8px;
  }

  .c-testimonial5__info {
    flex-direction: column;
  }

  .lg-margin-right {
    margin-right: 0px;
  }

  .c-grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0px, 1fr) minmax(255px, 1fr) minmax(255px, 1fr) minmax(255px,1fr) minmax(255px, 1fr);
  }

  .c-grid2 {
    grid-template-columns: 1fr;
  }

  .c-grid1__overlay {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
  }

  .c-grid1__item {
    height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  .c-grid3 {
    grid-template-columns: 1fr;
  }

  .c-contact1 {
    left: 0vw;
    flex-direction: column;
  }

  .c-contact1__wrapper {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    flex: 0 100%;
  }

  .c-contact1_inner {
    max-width: 100%;
  }

  .c-carousel2_wrapper.is-style2 {
    width: 100%;
    max-width: none;
  }

  .c-carousel2__content {
    margin-right: 0px;
    margin-left: 0px;
  }

  .c-carousel2_slide {
    width: 100%;
  }

  .c-carousel2_slide.is-style2 {
    width: 100%;
  }

  .c-carousel2_slide.is-last-slide {
    width: 100%;
  }

  .c-carousel2_slide-inner.is-last-slide {
    flex-direction: column;
    align-items: stretch;
  }

  .display-only-lg {
    display: none;
  }

  .c-tabslider1 {
    flex-direction: column;
  }

  .c-tabslider1__tab-link {
    flex: 0 50%;
  }

  .c-tabslider1__tab-link.w--current {
    box-shadow: inset 0 -2px 0 0 #866adb;
  }

  .c-tabslider1__tab-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block-decoration {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100vw;
  }

  .c-grid3x3 {
    grid-template-columns: 1fr;
  }

  .c-article__related {
    max-width: 100%;
  }

  .rich-text p {
    margin-bottom: 16px;
  }

  .rich-text blockquote {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .no-margin-bottom-lg {
    margin-bottom: 32px;
  }

  .full-half-block {
    position: static;
    width: auto;
    height: 350px;
  }

  .position-static-md {
    position: static;
  }

  .c-grid4x2 {
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .c-grid6x1 {
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr;
  }

  .c-cta1 {
    background-image: none;
  }

  .c-cta1.is-dark {
    flex-wrap: wrap;
  }

  .md-margin-bottom {
    margin-bottom: 24px;
  }

  .md-margin-bottom.cta-text {
    flex: 0 100%;
  }

  .c-video {
    bottom: 0px;
  }

  .shift-up-quad {
    bottom: 0px;
    margin-bottom: 0px;
  }

  .on-lg-margin-bottom {
    margin-bottom: 0px;
  }

  .md-no-padding-bottom {
    padding-bottom: 0px;
  }

  .md-no-padding-top {
    padding-top: 0px;
  }

  .shift-down {
    margin-top: 0px;
  }

  .shift-down-triple {
    margin-top: 0px;
  }

  .shift-down-quad {
    margin-top: 0px;
  }

  .blockquote-wrapper {
    padding: 24px;
  }

  .decoration-rightside.img-hero2 {
    position: relative;
    left: auto;
    bottom: auto;
    width: 100%;
    height: auto;
  }

  .md-is-wrapping {
    flex-wrap: wrap;
  }

  .c-gridpost__card.style4 {
    margin-bottom: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
  }

  .c-gridpost__image-bg {
    box-shadow: none;
  }

  .iconfont.is-16px {
    font-size: 16px;
  }

  .iconfont.is-11px {
    font-size: 11px;
  }

  .iconfont.is-burger {
    font-size: 9px;
  }

  .iconfont.is-offcanvas-close-button {
    font-size: 26px;
  }

  .c-grid3x2 {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .c-process__step-no {
    align-self: flex-start;
  }

  .c-process__line.is-vertical.is-first {
    top: 0%;
    height: 100%;
  }

  .c-process__line.is-vertical.is-last {
    height: 0%;
  }

  .md-text-align-center {
    text-align: center;
  }

  .lg-text-align-right {
    text-align: left;
  }

  .c-tab2__menu {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .c-tab2__link {
    margin-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .c-iconbox1__icon {
    flex-basis: auto;
  }

  .basis400 {
    flex-basis: auto;
  }

  .c-services__card.has-shadow.has-hover-style-1.slidedown {
    transform: none;
  }

  .c-quotebox.has-shadow.position-relative {
    position: static;
    width: 100%;
  }

  .basis410 {
    flex-basis: auto;
  }

  .c-application__cta {
    padding: 48px;
    flex-direction: column;
  }

  .c-grid-contact {
    grid-template-columns: 1fr 1fr;
  }

  .c-imageblock-link {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .c-imageblock-link.img2 {
    background-image: linear-gradient(180deg,hsla(0, 0%, 100%, 0.78),hsla(0, 0%, 100%, 0.78));
    background-position: 0px 0px, 50% 40%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .navigation-menu {
    flex-direction: column;
  }

  .navigation-and-offcanvas {
    position: absolute;
    left: auto;
    top: 0px;
    right: 0%;
    bottom: auto;
    z-index: 9999;
    display: none;
    overflow: scroll;
    height: 100vh;
    min-width: 250px;
    padding-top: 56px;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
  }

  .navigation-section {
    position: static;
    z-index: 9999;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation-section.position-absolute {
    position: absolute;
  }

  .burger-button {
    display: block;
    color: #1d2b36;
    font-size: 15px;
  }

  .mobile-navigation-bar {
    display: flex;
    margin-right: 24px;
    margin-left: 24px;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-overlay {
    position: absolute;
    left: 0%;
    top: 0px;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);
  }

  .c-nav__close-button {
    position: absolute;
    left: auto;
    top: 47px;
    right: 18px;
    bottom: auto;
    display: block;
    transform: rotate(45deg);
    color: #556575;
  }

  .hero-image-2 {
    position: static;
    width: 100%;
  }

  .c-grid8x1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .nav-link-block {
    margin-right: 0px;
    margin-left: 0px;
  }

  .container-2 {
    flex-wrap: wrap;
  }

  .col-2.lg-4 {
    order: -1;
  }

  .col-2.flow {
    order: -1;
  }

  .is-heading-color.margin-bottom-xsmall.md-text-xsmall {
    font-size: 12px;
  }

  .c-grid1x2 {
    grid-template-columns: 2.5fr 2.5fr;
    grid-template-rows: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr);
  }

  .c-heroslider__content {
    padding-right: 24px;
    padding-left: 24px;
    background-image: linear-gradient(180deg,hsla(0, 0%, 100%, 0.7),hsla(0, 0%, 100%, 0.7));
    background-position: 0px 0px, 50% 100%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .c-heroslider__content.img2 {
    background-image: linear-gradient(180deg,hsla(0, 0%, 100%, 0.7),
        hsla(0, 0%, 100%, 0.7)) url(http://detheme.com/templates/rylee/images/781.jpg);
    background-position: 0px 0px, 50% 30%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .c-heroslider__content.img3 {
    background-image: linear-gradient(180deg,hsla(0, 0%, 100%, 0.7),
        hsla(0, 0%, 100%, 0.7)) url(http://detheme.com/templates/rylee/images/162.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .c-grid1x5 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .c-megadropdown.w--open {
    top: auto;
    box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  }

  .c-grid1x4 {
    grid-template-columns: 1fr 1fr;
  }

  .c-overlay {
    display: none;
    padding-right: 32px;
    padding-left: 32px;
  }

  .c-products4x3 {
    grid-template-columns: 1fr 1fr;
  }

  .c-products3x3 {
    grid-template-columns: 1fr 1fr;
  }

  .c-products5x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .c-products5x3.gap-is-48px {
    grid-column-gap: 16px;
  }

  .c-search-popup {
    left: 0%;
    top: -10px;
    right: auto;
    bottom: auto;
    display: none;
    width: 200px;
  }

  .c-cart__dropdown {
    left: auto;
    top: 30px;
    right: -130px;
    bottom: auto;
    z-index: 999;
    display: none;
    width: 253px;
  }

  .c-cart__buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .c-slider__slide {
    width: 100%;
  }

  .slide-nav {
    bottom: -51px;
  }

  .c-shop-order {
    grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr;
  }
}
/* --------------------Part2-------------------- */
@media screen and (max-width: 991px) {
  #w-node-65e3e86b6009-47e5635f {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }

  #w-node-8c8a059a7817-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-04c90d9aaf1a-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-18125d257feb-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-7651b9c70687-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-39793d87bd66-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-26fd6fd6631e-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-26fd6fd66322-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-26fd6fd66326-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-26fd6fd6632a-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-6e1f4f1623dc-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-6e1f4f1623e0-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-6e1f4f1623e4-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-d5bd42a2af97-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-d5bd42a2af9b-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-d5bd42a2af9f-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-d5bd42a2afa3-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-5ca11f1e56b0-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-5ca11f1e56b4-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-5ca11f1e56b8-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-2a18b7d18f40-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-2a18b7d18f44-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-2a18b7d18f48-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-e73e1aec822e-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-e73e1aec8232-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-e73e1aec8236-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-e73e1aec823a-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-7801bb9b5e8b-3ae5636c {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  #w-node-12263bcfe50f-64e56377 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}
/* --------------------Part3-------------------- */
@media screen and (max-width: 991px) {
  .w-container {max-width: 728px;}
  .w-hidden-main {display: inherit !important;}
  .w-hidden-medium {display: none !important;}
  .w-col-medium-1 {width: 8.33333333%; }
  .w-col-medium-2 {width: 16.66666667%;}
  .w-col-medium-3 {width: 25%;}
  .w-col-medium-4 {width: 33.33333333%;}
  .w-col-medium-5 {width: 41.66666667%;}
  .w-col-medium-6 {width: 50%;}
  .w-col-medium-7 {width: 58.33333333%;}
  .w-col-medium-8 {width: 66.66666667%;}
  .w-col-medium-9 {width: 75%;}
  .w-col-medium-10 {width: 83.33333333%;}
  .w-col-medium-11 {width: 91.66666667%;}
  .w-col-medium-12 {width: 100%;}

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
/* --------------------Part4-------------------- */
@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-dropdown,
  .w-nav[data-collapse="medium"] .w-dropdown-toggle {display: block;}
  .w-nav[data-collapse="medium"] .w-dropdown-list {position: static;}
}
/* --------------------Part5-------------------- */
@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {display: none;}
  .w-nav[data-collapse="medium"] .w-nav-button {display: block;}
}
