@media (max-width: 767px) {
  .container {
    display: flex;
  }

  .container.flexh-align-center.sm-flex-vertical {
    flex-direction: column;
  }

  .col.lg-6.on-dark.sm-12 {
    flex: 0 100%;
  }

  .col.lg-6.no-margin-bottom.xs-12 {
    flex: 0 auto;
  }

  .col.lg-6.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-3.sm-6 {
    flex-basis: 50%;
  }

  .col.lg-3.sm-12 {
    flex-basis: 100%;
    background-color: #ffe3ca;
  }

  .col.lg-3.md-4.sm-12 {
    background-color: transparent;
  }

  .col.lg-4.position-relative._100vh.no-margin-bottom.padding-top-bottom-double.sm-12 {
    flex: 0 100%;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.grow {
    flex: 1;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-center.col-logo {
    padding-left: 0px;
  }

  .col.lg-4.md-6.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-4.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-4.sm-6 {
    flex-basis: 50%;
  }

  .col.lg-7.padding-top-bottom-48.align-bottom.on-dark.no-margin-bottom.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-5.sm-12 {
    flex-basis: 100%;
  }

  .col.no-margin-bottom.lg-5.sm-12 {
    flex-basis: 100%;
  }

  .col.no-margin-bottom.lg-5.sm-12.sm-margin-bottom {
    margin-bottom: 32px;
  }

  .section._100vh.align-center {
    align-items: flex-start;
  }

  .section.position-relative.has-top-divider {
    padding-top: 96px;
  }

  .section.has-bg-accent.no-padding-bottom {
    padding-bottom: 0px;
  }

  .margin-right.sm-hidden {
    display: none;
  }

  .bg-divider {
    left: auto;
    right: auto;
    display: none;
    transform: none;
  }

  .bg-divider.style1 {
    display: block;
    height: 100%;
    transform: none;
  }

  .hr.is-grid-title-border {
    top: 88px;
  }

  .size-h4.text-align-right.margin-bottom.sm-hidden {
    display: none;
  }

  .burger-menu-icon {
    min-width: 22px;
  }

  .quote.style5 {
    font-size: 23px;
  }

  .c-tabslider1__tab-link {
    padding-right: 9px;
    padding-left: 9px;
    font-size: 14px;
  }

  .c-paging__number {
    width: 32px;
  }

  .c-tab1__menu {
    flex-wrap: wrap;
  }

  .c-accordion__title {
    display: block;
    flex: 0 auto;
  }

  .c-map__infobox {
    position: relative;
    max-width: 300px;
  }

  .container-2 {
    display: flex;
  }

  .col-2.flow {
    order: 1;
  }

  .c-topbar {
    display: none;
  }

  .c-grid1x2 {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(350px, 1fr) minmax(350px, 1fr) minmax(350px, 1fr);
  }

  .c-grid1x5 {
    grid-template-columns: 1fr 1fr;
  }

  .c-grid1x4 {
    grid-template-columns: 1fr 1fr;
  }

  .c-overlay__modal {
    padding-right: 0px;
    padding-left: 0px;
  }

  .c-slider.style-lookbook {
    height: 50vh;
  }

  .c-slider__left-arrow {
    left: -22px;
  }

  .c-slider__right-arrow {
    right: -22px;
  }

  .c-products3x3 {
    grid-template-columns: 1fr;
  }

  .c-products2x3 {
    grid-template-columns: 1fr;
  }

  .c-products5x3 {
    grid-template-columns: 1fr 1fr;
  }

  .c-shop-order {
    grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr;
  }

  .c-shop-order__wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
}
/* --------------------Part2-------------------- */
@media screen and (max-width: 767px) {
  #w-node-65e3e86b6009-47e5635f {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}
/* --------------------Part3-------------------- */
@media screen and (max-width: 767px) {
  .w-hidden-main {
    display: inherit !important;
  }

  .w-hidden-medium {
    display: inherit !important;
  }

  .w-hidden-small {
    display: none !important;
  }

  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .w-col-small-1 {
    width: 8.33333333%;
  }

  .w-col-small-2 {
    width: 16.66666667%;
  }

  .w-col-small-3 {
    width: 25%;
  }

  .w-col-small-4 {
    width: 33.33333333%;
  }

  .w-col-small-5 {
    width: 41.66666667%;
  }

  .w-col-small-6 {
    width: 50%;
  }

  .w-col-small-7 {
    width: 58.33333333%;
  }

  .w-col-small-8 {
    width: 66.66666667%;
  }

  .w-col-small-9 {
    width: 75%;
  }

  .w-col-small-10 {
    width: 83.33333333%;
  }

  .w-col-small-11 {
    width: 91.66666667%;
  }

  .w-col-small-12 {
    width: 100%;
  }
}
/* --------------------Part4-------------------- */
@media (min-width: 767px) {
  .w-lightbox-content {
    height: 96vh;
    margin-top: 2vh;
  }

  .w-lightbox-view,
  .w-lightbox-view:before {
    height: 96vh;
  }

  .w-lightbox-group,
  .w-lightbox-group .w-lightbox-view,
  .w-lightbox-group .w-lightbox-view:before {
    height: 84vh;
  }

  .w-lightbox-image {
    max-width: 96vw;
    max-height: 96vh;
  }

  .w-lightbox-group .w-lightbox-image {
    max-width: 82.3vw;
    max-height: 84vh;
  }

  .w-lightbox-left,
  .w-lightbox-right {
    display: block;
    opacity: 0.5;
  }

  .w-lightbox-close {
    opacity: 0.8;
  }

  .w-lightbox-control:hover {
    opacity: 1;
  }
}

.w-lightbox-inactive,
.w-lightbox-inactive:hover {
  opacity: 0;
}

.w-richtext:before,
.w-richtext:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-richtext:after {
  clear: both;
}

.w-richtext[contenteditable="true"]:before,
.w-richtext[contenteditable="true"]:after {
  white-space: initial;
}

.w-richtext ol,
.w-richtext ul {
  overflow: hidden;
}
