@media (max-width: 767px) {
  .container {
    display: flex;
  }

  .container.flexh-align-center.sm-flex-vertical {
    flex-direction: column;
  }

  .col.lg-6.on-dark.sm-12 {
    flex: 0 100%;
  }

  .col.lg-6.no-margin-bottom.xs-12 {
    flex: 0 auto;
  }

  .col.lg-6.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-3.sm-6 {
    flex-basis: 50%;
  }

  .col.lg-3.sm-12 {
    flex-basis: 100%;
    background-color: #ffe3ca;
  }

  .col.lg-3.md-4.sm-12 {
    background-color: transparent;
  }

  .col.lg-4.position-relative._100vh.no-margin-bottom.padding-top-bottom-double.sm-12 {
    flex: 0 100%;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-end.no-padding-right.grow {
    flex: 1;
  }

  .col.lg-4.no-margin-bottom.flexh-justify-center.col-logo {
    padding-left: 0px;
  }

  .col.lg-4.md-6.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-4.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-4.sm-6 {
    flex-basis: 50%;
  }

  .col.lg-7.padding-top-bottom-48.align-bottom.on-dark.no-margin-bottom.sm-12 {
    flex-basis: 100%;
  }

  .col.lg-5.sm-12 {
    flex-basis: 100%;
  }

  .col.no-margin-bottom.lg-5.sm-12 {
    flex-basis: 100%;
  }

  .col.no-margin-bottom.lg-5.sm-12.sm-margin-bottom {
    margin-bottom: 32px;
  }

  .section._100vh.align-center {
    align-items: flex-start;
  }

  .section.position-relative.has-top-divider {
    padding-top: 96px;
  }

  .section.has-bg-accent.no-padding-bottom {
    padding-bottom: 0px;
  }

  .margin-right.sm-hidden {
    display: none;
  }

  .button-primary.lg-margin-right.sm-w100 {
    width: 100%;
  }

  .button-primary.sm-w100 {
    width: 100%;
  }

  .button-primary.lg-md-margin-right.sm-w100 {
    margin-right: 0px;
  }

  .bg-divider {
    left: auto;
    right: auto;
    display: none;
    transform: none;
  }

  .bg-divider.style1 {
    display: block;
    height: 100%;
    transform: none;
  }

  .hr.is-grid-title-border {
    top: 88px;
  }

  .size-h4.text-align-right.margin-bottom.sm-hidden {
    display: none;
  }

  .burger-menu-icon {
    min-width: 22px;
  }

  .quote.style5 {
    font-size: 23px;
  }

  .c-tabslider1__tab-link {
    padding-right: 9px;
    padding-left: 9px;
    font-size: 14px;
  }

  .c-paging__number {
    width: 32px;
  }

  .c-tab1__menu {
    flex-wrap: wrap;
  }

  .c-accordion__title {
    display: block;
    flex: 0 auto;
  }

  .c-map__infobox {
    position: relative;
    max-width: 300px;
  }

  .c-team5 {
    grid-template-columns: 1fr;
  }

  .c-team6 {
    grid-template-columns: 1fr 1fr;
  }

  .container-2 {
    display: flex;
  }

  .col-2.flow {
    order: 1;
  }

  .c-topbar {
    display: none;
  }

  .c-grid1x2 {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(350px, 1fr) minmax(350px, 1fr) minmax(350px, 1fr);
  }

  .c-grid1x5 {
    grid-template-columns: 1fr 1fr;
  }

  .c-grid1x4 {
    grid-template-columns: 1fr 1fr;
  }

  .c-overlay__modal {
    padding-right: 0px;
    padding-left: 0px;
  }

  .c-slider.style-lookbook {
    height: 50vh;
  }

  .c-slider__left-arrow {
    left: -22px;
  }

  .c-slider__right-arrow {
    right: -22px;
  }

  .c-products3x3 {
    grid-template-columns: 1fr;
  }

  .c-products2x3 {
    grid-template-columns: 1fr;
  }

  .c-products5x3 {
    grid-template-columns: 1fr 1fr;
  }

  .c-shop-order {
    grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr;
  }

  .c-shop-order__wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }

  .c-shop-order__wrapper.sm-overflow-scroll {
    overflow: scroll;
  }
}
/* --------------------Part2-------------------- */
@media screen and (max-width: 767px) {
  #w-node-65e3e86b6009-47e5635f {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}
/* --------------------Part3-------------------- */
@media screen and (max-width: 767px) {
  .w-hidden-main {
    display: inherit !important;
  }

  .w-hidden-medium {
    display: inherit !important;
  }

  .w-hidden-small {
    display: none !important;
  }

  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .w-col-small-1 {
    width: 8.33333333%;
  }

  .w-col-small-2 {
    width: 16.66666667%;
  }

  .w-col-small-3 {
    width: 25%;
  }

  .w-col-small-4 {
    width: 33.33333333%;
  }

  .w-col-small-5 {
    width: 41.66666667%;
  }

  .w-col-small-6 {
    width: 50%;
  }

  .w-col-small-7 {
    width: 58.33333333%;
  }

  .w-col-small-8 {
    width: 66.66666667%;
  }

  .w-col-small-9 {
    width: 75%;
  }

  .w-col-small-10 {
    width: 83.33333333%;
  }

  .w-col-small-11 {
    width: 91.66666667%;
  }

  .w-col-small-12 {
    width: 100%;
  }
}
/* --------------------Part4-------------------- */
@media screen and (max-width: 767px) {

  .w-nav[data-collapse="small"] .w-dropdown,
  .w-nav[data-collapse="small"] .w-dropdown-toggle {
    display: block;
  }

  .w-nav[data-collapse="small"] .w-dropdown-list {
    position: static;
  }

  .w-nav-brand {
    padding-left: 10px;
  }
}
/* --------------------Part5-------------------- */
@media (min-width: 767px) {
  .w-lightbox-content {
    height: 96vh;
    margin-top: 2vh;
  }

  .w-lightbox-view,
  .w-lightbox-view:before {
    height: 96vh;
  }

  .w-lightbox-group,
  .w-lightbox-group .w-lightbox-view,
  .w-lightbox-group .w-lightbox-view:before {
    height: 84vh;
  }

  .w-lightbox-image {
    max-width: 96vw;
    max-height: 96vh;
  }

  .w-lightbox-group .w-lightbox-image {
    max-width: 82.3vw;
    max-height: 84vh;
  }

  .w-lightbox-left,
  .w-lightbox-right {
    display: block;
    opacity: 0.5;
  }

  .w-lightbox-close {
    opacity: 0.8;
  }

  .w-lightbox-control:hover {
    opacity: 1;
  }
}

.w-lightbox-inactive,
.w-lightbox-inactive:hover {
  opacity: 0;
}

.w-richtext:before,
.w-richtext:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-richtext:after {
  clear: both;
}

.w-richtext[contenteditable="true"]:before,
.w-richtext[contenteditable="true"]:after {
  white-space: initial;
}

.w-richtext ol,
.w-richtext ul {
  overflow: hidden;
}

.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:after,
.w-richtext .w-richtext-figure-selected[data-rt-type="video"] div:after {
  outline: 2px solid #2895f7;
}

.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div,
.w-richtext .w-richtext-figure-selected[data-rt-type="image"] div {
  outline: 2px solid #2895f7;
}

.w-richtext figure.w-richtext-figure-type-video>div:after,
.w-richtext figure[data-rt-type="video"]>div:after {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.w-richtext figure {
  position: relative;
  max-width: 60%;
}

.w-richtext figure>div:before {
  cursor: default !important;
}

.w-richtext figure img {
  width: 100%;
}

.w-richtext figure figcaption.w-richtext-figcaption-placeholder {
  opacity: 0.6;
}

.w-richtext figure div {
  font-size: 0px;
  color: transparent;
}

.w-richtext figure.w-richtext-figure-type-image,
.w-richtext figure[data-rt-type="image"] {
  display: table;
}

.w-richtext figure.w-richtext-figure-type-image>div,
.w-richtext figure[data-rt-type="image"]>div {
  display: inline-block;
}

.w-richtext figure.w-richtext-figure-type-image>figcaption,
.w-richtext figure[data-rt-type="image"]>figcaption {
  display: table-caption;
  caption-side: bottom;
}

.w-richtext figure.w-richtext-figure-type-video,
.w-richtext figure[data-rt-type="video"] {
  width: 60%;
  height: 0;
}

.w-richtext figure.w-richtext-figure-type-video iframe,
.w-richtext figure[data-rt-type="video"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.w-richtext figure.w-richtext-figure-type-video>div,
.w-richtext figure[data-rt-type="video"]>div {
  width: 100%;
}

.w-richtext figure.w-richtext-align-center {
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image>div,
.w-richtext figure.w-richtext-align-center[data-rt-type="image"]>div {
  max-width: 100%;
}

.w-richtext figure.w-richtext-align-normal {
  clear: both;
}

.w-richtext figure.w-richtext-align-fullwidth {
  width: 100%;
  max-width: 100%;
  text-align: center;
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.w-richtext figure.w-richtext-align-fullwidth>div {
  display: inline-block;
  padding-bottom: inherit;
}

.w-richtext figure.w-richtext-align-fullwidth>figcaption {
  display: block;
}

.w-richtext figure.w-richtext-align-floatleft {
  float: left;
  margin-right: 15px;
  clear: none;
}

.w-richtext figure.w-richtext-align-floatright {
  float: right;
  margin-left: 15px;
  clear: none;
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.w-nav:before,
.w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.w-nav-link.w--current {
  color: #0082f3;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.w--nav-menu-open {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}

.w--nav-link-open {
  display: block;
  position: relative;
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.w-nav-overlay .w--nav-menu-open {
  top: 0;
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-left"] .w-nav-overlay,
.w-nav[data-animation="over-left"] .w--nav-menu-open {
  right: auto;
  z-index: 1;
  top: 0;
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay,
.w-nav[data-animation="over-right"] .w--nav-menu-open {
  left: auto;
  z-index: 1;
  top: 0;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

.w-nav-button.w--open {
  background-color: #c8c8c8;
  color: white;
}

.w-nav[data-collapse="all"] .w-nav-menu {
  display: none;
}

.w-nav[data-collapse="all"] .w-nav-button {
  display: block;
}
/* --------------------Part6-------------------- */
@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
  }

  .w-nav-brand {
    padding-left: 10px;
  }
}
